.ipynb_checkpoints
checkpoints/*
datasets/BCCD/annotations/*  
datasets/BCCD/images/*
datasets/CarLicensePlates/annotations/*
datasets/CarLicensePlates/images/*
datasets/PotHoles/annotations/*
datasets/PotHoles/images/*

*images*
*annotations*


*__pycache__*
*checkpoints*
