.ipynb_checkpoints
checkpoints/*
datasets/BCCD/Annotations/*  
datasets/BCCD/JPEGImages/*
datasets/CarLicensePlates/annotations/*
datasets/CarLicensePlates/images/*
datasets/PotHoles/annotations/*
datasets/PotHoles/images/*
*__pycache__*
*checkpoints*